.category {
  font-weight: bold;
  font-size: 1.4em;
}

.btns-contain {
  display: flex;
  justify-content: space-evenly;
}

.small-btn {
  @include buttons($silver, 175px, 1em);
}

@media (max-width: 795px) {
  .btns-contain {
    display: block;
  }
}