@mixin buttons($bg-color, $width, $font-size) {
  background: $bg-color;
  border-radius: .8em;
  display: block;
  font-size: $font-size;
  height: 3em;
  margin: 1.5em auto;
  width: $width;

  &:hover {
    cursor: pointer;
    background:lighten($bg-color, 10%);
    transition: all .4s ease;
  }
}

@mixin card($bg-color) {
  background-color: $bg-color;
  border: 3px solid $silver;
  padding: 1em;
  border-radius: 1.3em;
  margin: auto;
}