@mixin buttons($bg-color, $width) {
  background: $bg-color;
  border-radius: .8em;
  display: block;
  font-size: 1.2em;
  height: 3em;
  margin: 1.5em auto;
  width: $width;

  &:hover {
    cursor: pointer;
    background:lighten($bg-color, 10%);
    transition: all .4s ease;
  }
}