.prototype-methods {
  @include card($yellow);
}

.scope {
  @include card($turquoise);
}

.oop {
  @include card($mint);

}

.prototype-methods,
.scope,
.oop {
  width: 50%;
}

.question {
  font-size: 1.4em;
  font-weight: 600;
  margin: 1em;
}

button {
  @include buttons($silver, 90%, 1.2em);
}

.skip-btn {
  @include buttons($silver, 20%, 1em);
}

@media (max-width: 795px) {
  .prototype-methods,
  .scope,
  .oop {
    width: 60%;
  }

  .question {
    font-size: 1.2em;
  }

  button {
    font-size: 1em;
    height: 4em;
  }

  .skip-btn {
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  .prototype-methods,
  .scope,
  .oop {
    width: 80%;
  }
}