h2 {
  text-align: center;
}

p {
  font-size: 1.2em;
}

.test-again-btn {
  @include buttons($silver, 60%, 1em);
}

@media (max-width: 600px) {
    .test-again-btn {
      height: 4em;
    }

    h2 {
      font-size: 1.3em;
    }

    .test-again-btn {
      font-size: .9em;
    }
}